body {
  color: whitesmoke;
  background-image: url(images/SHELLFALL.png);
  background-size: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-family: ;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  
}

ul li a {
  display: block;
  color: white;
  padding: 7px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: darkgray;
  color: black;
}

ul li a.active {
  color: black;
  background-color: lightgray;
}

button {
  font-size: 20px;
  font-weight: bold;
  padding: 7px 10px;
  border-color: transparent;
  border-width: 5px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  border-width: 10px;
  border-style: solid;
  border-color: maroon;
  border-radius: 100px;
}

.discord1 {
  display: flex;
  margin-left: 500px;
  button {
    background: url(images/Discord1.png);
    width: 70px;
    height: 50px;
    color: white;
    background-color: #5865F2;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    border-color: transparent;
    border-width: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
}

.discord2 {
  display: flex;
  justify-content: center;
  button {
    color: white;
    background-color: #5865F2;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 20px;
    border-color: transparent;
    border-width: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
}